*{
    margin: 0 auto;
}
header{
    position: sticky;
    height: 460px;
    z-index: 1;
    top: 0;
}
body {
min-width: 1200px;
max-width: 1920px;
}
#header_line{
   background-color: #F5F5F5;
}
#header_line ul{
    width: 1200px;
    padding: 0;
    height: 35px;
    line-height: 35px;
    text-align: right;
}
#header_line li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
#header_line li a{
    text-decoration-line: none;
    color: #B0BDD2;
}
#logo_image{
    background-image: url(/img/mugunghwa_logo.png);
    background-repeat: no-repeat;
    width: 260px;
    height: 150px;
    background-size: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
#header_space{
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px;
    background-color: white;
}
#header_search{
    display: inline-block;
    width: 600px;
    vertical-align: middle;
    border-radius: 20px;
    border: 1px solid rgb(240, 118, 139);
}
#header_search input{
    width: 500px;
    height: 48px;
    outline: none;
    padding: 0 30px;
    border: none;
    vertical-align: middle;
}
#header_button{
    background-image: url(/img/user_box/search-line.svg);
    width: 34px;
    height: 34px;
    border: 0px;
    background-color: white;
    vertical-align: middle;
    background-repeat: no-repeat;
}
#header_mypage{
    background-image: url(/img/user_box/mypage-line-48.svg);
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-left: 30px;
    vertical-align: middle;
}
#header_delivery{
    background-image: url(/img/user_box/delivery-line-48.svg);
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-left: 30px;
    vertical-align: middle;
}
#header_basket{
    background-image: url(/img/user_box/mypage-line-48.svg);
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-left: 30px;
    vertical-align: middle;

}
#header_category{
    background-image: url(/img/user_box/menu-line.svg);
    width: 22px;
    height: 18px;
    padding: 10px 10px 0px 10px;
    background-repeat: no-repeat;
    background-position: 5px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#header_list{
width: 1200px;
text-align: center;
list-style: none;
padding: 0;
height: 80px;
background-color: white;
}
#header_list li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    padding: 30px 60px;
}
#header_list ul li:last-child{
    padding-right: 0;
}
#header_list li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
#header_logo{
    vertical-align: middle;
}
#header_icon{
    display: inline-block;
    margin-right: 30px;
}
ul, li {
    list-style: none
}
a {
    text-decoration: none;
}

.main_menu {
    margin: 0 auto;
    width: 1200px;
    height: 100px;
}
nav {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}
nav > ul {
     overflow: hidden;
}
nav > ul > li {
    display: inline-block;
    padding: 10px;
    width: 170px;
    box-sizing: border-box;
}
nav > ul > li > a {
    display: inline-block;
    padding: 12px 0px;
    width: 100%;
    color: black;
    font-weight: bold;
    box-sizing: border-box;
}
nav > ul > li:hover > a {
     color: rgb(240, 118, 139);
      background: #f1f1f1;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 99;
    text-align: center;
    background: #f1f1f1;
    padding: 0;
}
.submenu > li > a {
    display: inline-block;
    padding: 14px 0px;
    color: black;
    width: 150px ;
    font-size: 15px;
    box-sizing: border-box;
}
.submenu > li > a:hover {
    background: #ccc;
}